/* PALETTE COLORI */
:root{
    --my-bg-header-fb: rgb(47, 62, 78);
    --my-bg-section-1: rgb(87, 185, 157);
    --my-white: #fff;
    --my-bg-footer-top: rgb(63, 84, 107); 
}

/* GENERALI */

body{
    color: var(--my-white);
    background-color: var(--my-white);
}

.my-color-black{
    color: black;
}

.my-mt{
    padding-top: 20px;
}

/* MODIFICO BACKGROUND COLOR */

.my-bg-black{
    background-color: var(--my-bg-header-fb);
}

.my-bg-grey{
    background-color: var(--my-bg-section-1);
}

.my-bg-light-black{
    background-color: var(--my-bg-footer-top);
}

/* MODIFICO HEADER */

header{
    height: 90px;
    line-height: 50px;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1000;
}

main{
    padding-top: 90px;
}


/* MODIFICO SECTION 1 */

#jumbo img{
    max-width: 60%;
    height: auto;
}

.my-star{
    color: var(--my-white);
}

.dimension-star{
    background-color: var(--my-white);
    height: 4px;
}

/* SEZIONE 2 */

.dimension-star-2{
    background-color: black;
    height: 4px;
}

.layover-container{
    cursor: pointer;
}

.layover-container::after{
    content: '+';
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(26, 188, 156, .5);
    font-size: 80px;
    font-weight: 800;
    color: var(--my-white);
    opacity: 0;
}

.layover-container:hover::after{
    opacity: 1;
}

/* SEZIONE 3 */

#about button{
    border: 1px solid white;
}

/* FOOTER TOP */

.container-icona i{
    font-size: 25px;
}

.container-icona{
    width:50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid white;
    text-align: center;
    align-items: 50px;
}

