/* PALETTE COLORI */
:root{
    --my-bg-header-fb: rgb(47, 62, 78);
    --my-bg-section-1: rgb(87, 185, 157);
    --my-white: #fff;
    --my-bg-footer-top: rgb(63, 84, 107); 
}

/* GENERALI */

body{
    color: var(--my-white);
    background-color: var(--my-white);
}

.my-color-black{
    color: black;
}

.my-mt{
    padding-top: 20px;
}

/* MODIFICO BACKGROUND COLOR */

.my-bg-black{
    background-color: var(--my-bg-header-fb);
}

.my-bg-grey{
    background-color: var(--my-bg-section-1);
}

.my-bg-light-black{
    background-color: var(--my-bg-footer-top);
}

/* MODIFICO HEADER */

header{
    width: 100%;
    height: 90px;
    line-height: 50px;
    position: fixed;
    top: 0;
    z-index: 500;
}

/* EFFETTI HOVER */

#about button:hover{
    background-color: var(--my-bg-header-fb);
    border: var(--my-bg-header-fb);
}

#contact button:hover{
    background-color: var(--my-bg-footer-top);
    border: var(--my-bg-footer-top);
}

#my-navbar .nav-link{
    color: var(--my-white);
    transition: color 1000ms;
}

#my-navbar .nav-link:hover, .navbar-toggler:hover i{
    color: var(--my-bg-section-1);
}

.navbar-toggler i:hover{
    color: var(--my-white);
}

.icona:hover{
    background-color: var(--my-bg-section-1);
    border: var(--my-bg-section-1);
    transition: background-color 700ms ease-in;

}

/* MODIFICO SECTION 1 */

#jumbo{
    padding-top: 90px;
}

#jumbo img{
    max-width: 60%;
    height: auto;
}

.my-star{
    color: var(--my-white);
}

.dimension-star{
    background-color: var(--my-white);
    height: 4px;
}

/* SEZIONE 2 */

.dimension-star-2{
    background-color: black;
    height: 4px;
}

.layover-container{
    cursor: pointer;
}

.layover-container::after{
    content: '+';
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(26, 188, 156, .5);
    font-size: 80px;
    font-weight: 800;
    color: var(--my-white);
    opacity: 0;
    transition: opacity 1000ms;
}

.layover-container:hover::after{
    opacity: 1;
}

/* SEZIONE 3 */

#about button{
    border: 1px solid white;
}

/* MODIFICO CONTACT ME */

#contact input, #contact textarea{
    border: none;
    border-bottom: 1px solid grey;
    border-radius: 0;
}

.my-btn{
    background-color: var(--my-bg-section-1);
    width: 80px;
    height: auto;
    border: none;
    margin-bottom: 30px;
}

/* FOOTER TOP */

.icona i{
    font-size: 25px;
}

.icona{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid white;
     display: flex;
    align-items: center;
    justify-content: center;
    margin: 4px;
}

.grey-color{
    color: var(--my-bg-section-1);
    cursor: pointer;
}

.icona i:hover{
    cursor: pointer;
}